<!-- Section-->
<app-header></app-header>
<section class="py-5">

    <div class="container ">

        <div class="mt-5 row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let article of data ; index as i">
                <div class="card h-100">
                    <img class="card-img-top" [src]="article.image.toString().replace('http://lorempixel.com','https://loremflickr.com/')" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{article.title}}</h5>
                            <p>{{article.description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" [href]="article.link">Detail</a></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>
</section>
<!-- Footer-->
<app-footer></app-footer>